---
interface Props {
	type: "text" | "email" | "tel";
	label?: "inside" | "outside";
	id: string;
	name: string;
}

const { type, label = "inside", id, name } = Astro.props;
---

<div class="input-container__box">
	<label
		class={`input-container__label ${label === "inside" ? `input-container__label--${label}` : ""}`.trim()}
		for={`${id}`}><slot name="label" /></label
	>
	<input
		class="input-container__input"
		type={`${type}`}
		id={`${id}`}
		name={`${name}`}
	/>
	<p class="input-container__requirements">
		<span class="requirements-icon">
			<i class="ti ti-exclamation-circle"></i>
		</span>
		<slot name="requirements" />
	</p>
</div>
